[slack]
api_token = ''
files_api_token = ''

# 必要に応じて増やしたり減らしたりしてください。run.pyのhandle_cmd_sns()も書き換えてください...
[twitter]
    [twitter.app_1]
    consumer_key = ''
    consumer_secret = ''
        [twitter.app_1.id_1]
        access_token = ''
        access_token_secret = ''
        [twitter.app_1.id_2]
        access_token = ''
        access_token_secret = ''

[mastodon]
    [mastodon.server_1]
    url = '' # e.g. https://mstdn.jp
        [mastodon.server_1.app_1]
        client_key = ''
        client_secret = ''
            [mastodon.server_1.app_1.id_1]
            access_token = ''
