[slack]
token_bot = ''
token_files = ''

[twitter]
    [twitter.app_1]
    consumer_key = ''
    consumer_secret = ''
        [twitter.app_1.id_1]
        access_token = ''
        access_token_secret = ''

[mastodon]
    [mastodon.server_1]
    url = ''
        [mastodon.server_1.app_1]
        client_key = ''
        client_secret = ''
            [mastodon.server_1.app_1.id_1]
            access_token = ''
